<!-- Modale pour ajouter un patient -->
<div
  id="addDocteurModal"
  class="fixed inset-0 flex bg-gray-800 bg-opacity-50 hidden items-center justify-center p-4"
>
  <div class="bg-white rounded-lg shadow-lg w-full max-w-3xl p-3 relative">
    <span
      class="text-sm font-medium mb-4 p-1 bg-green-100 text-green-500 rounded-full"
    >
      Ajouter un(e) docteur(e)
    </span>
    <form id="addDocteurForm">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
        <div class="">
          <label
            for="docteurNom"
            class="block text-sm font-medium text-gray-500"
            >Nom</label
          >
          <div class="relative">
            <input
              type="text"
              id="docteurNom"
              placeholder="Entrez le nom"
              name="nom"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
            />
            <i
              class="ri-file-user-line absolute top-2 right-2 text-gray-600"
            ></i>
          </div>
          <span id="nomDocteurError"></span>
        </div>
        <div class="">
          <label
            for="docteurPrenom"
            class="block text-sm font-medium text-gray-500"
            >Prénom</label
          >
          <div class="relative">
            <input
              type="text"
              id="docteurPrenom"
              placeholder="Entrez le prenom"
              name="prenom"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
            />
            <i
              class="ri-file-user-line absolute top-2 right-2 text-gray-600"
            ></i>
          </div>
          <span id="docteurPrenomError"></span>
        </div>
        <div class="">
          <label
            for="docteurEmail"
            class="block text-sm font-medium text-gray-500"
            >Email</label
          >
          <div class="relative">
            <input
              type="email"
              id="docteurEmail"
              placeholder="Adresse mail"
              name="email"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
            />
            <i class="ri-mail-ai-line absolute top-2 right-2 text-gray-600"></i>
          </div>
          <span id="docteurEmailError"></span>
        </div>
        <div class="">
          <label
            for="docteurTelephone"
            class="block text-sm font-medium text-gray-500"
            >Téléphone</label
          >
          <div class="relative">
            <input
              type="tel"
              id="docteurTelephone"
              placeholder="Telephone ...."
              name="telephone"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
            />
            <i class="ri-phone-line absolute top-2 right-2 text-gray-600"></i>
          </div>
          <span id="docteurTelephoneError"></span>
        </div>
        <div class="">
          <label
            for="docteurSpecialite"
            class="block text-sm font-medium text-gray-500"
            >Specialite</label
          >
          <div class="relative">
            <input
              type="text"
              id="docteurSpecialite"
              placeholder="Specialite"
              name="specialite"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
            />
            <i
              class="ri-hospital-line absolute top-2 right-2 text-gray-600"
            ></i>
          </div>

          <span id="docteurSpecialiteError"></span>
        </div>
        <div class="">
          <label
            for="docteurAvatar"
            class="block text-sm font-medium text-gray-500"
            >Avatar</label
          >
          <div class="relative">
            <input
              type="text"
              id="docteurAvatar"
              placeholder="Avatar"
              name="avatar"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
            />
            <i class="ri-image-line absolute top-2 right-2 text-gray-600"></i>
          </div>
          <span id="docteurAvatarError"></span>
        </div>
        <div class="">
          <label
            for="docteurPassword"
            class="block text-sm font-medium text-gray-500"
            >Passowrd</label
          >
          <div class="relative">
            <input
              type="password"
              id="docteurPassword"
              placeholder="Mot de passe"
              name="password"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
            />
            <i class="ri-lock-line absolute top-2 right-2 text-gray-600"></i>
          </div>
          <span id="docteurPaswordError"></span>
        </div>
      </div>
      <div class="flex justify-end space-x-4">
        <button
          type="button"
          id="cancelAddDocteur"
          class="text-white bg-green-400 w-10 h-10 rounded-full hover:bg-green-500 absolute -top-3 -right-3 text-lg"
        >
          <i class="ri-close-line"></i>
        </button>
        <button
          type="submit"
          class="bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600"
        >
          Ajouter
          <i class="ri-apps-2-add-line"></i>
        </button>
      </div>
    </form>
  </div>
</div>
<script type="module" src="./patient_modal.js"></script>
